

.about-us {
    height: auto;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    top: 7em;
    margin-bottom: 10em;
}


/* ABOUT US HEADING */
.about-us__about-us-heading {
    height: 50vh;
    width: 100%;
    margin-bottom: 5em;
}

.about-us__ab-us-head-content {
    height: 100%;
    width: 100%;
}

.ab-us-head-content__figure {
    width: 100%;
    height: 90%;
    background-color: black;
    border-radius: 50px;
    overflow: hidden;
}

.ab-us-head-content__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ab-us-head-content__h2 {
    border-radius: 20px;
    padding: .8em 1em;
    font-size: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #18181850;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    bottom: 1.45em;
}

.ab-us-head-content__h2 span {
    color: #8a6be9;
}


/* ABOUT US HEADING */
.about-us__about-us-main {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}

.about-us-main__ab-us-main-content {
    display: flex;
    margin-bottom: 5em;
}

.ab-us-main-content__ab-us-left {
    width: 50%;
}

.ab-us-left__h2 {
    font-size: 45px;
    margin-bottom: .7em;
}

.ab-us-left__h2 span {
    color: #8a6be9;
}

.ab-us-left__contact-btn {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    height: 2.5em;
    padding: .3em 1em;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #8a6be9;
    color: #8a6be9;
    font-weight: 600;
}

.contact-btn__figure {
    width: 1.5em;
    height: 1.5em;
}

.contact-btn__figure img {
    width: 100%;
    height: 100%;
}


.ab-us-main-content__ab-us-right {
    width: 50%;
}

.ab-us-main-txt__h3 {
    font-size: 24px;
    margin-bottom: .7em;
    width: 80%;
}

.ab-us-main-txt__h3 span {
    color: #8a6be9;
}

.ab-us-main-txt__p {
    line-height: 25px;
    text-align: justify;
}


.about-us-main__ab-us-spez {
    display: flex;
    gap: 3em;
    width: 100%;
    margin-bottom: 5em;
}

.ab-us-spez__ab-us-spez-left {
    width: 50%;
}


.ab-us-spez__ab-us-spez-right {
    width: 50%;
}

.ab-us-spez-right__spez-right-blocks {
    width: 100%;
    height: 100%;
    background-color: #dbd5fa;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 3% 2%;
    border-radius: 10px;
}

.spez-right-blocks__spez-block {
    height: 48%;
    background-color: #8a6be9;
    border-radius: 10px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.spez-block__center-content {
    text-align: center;
}

.spez-block__p {
    color: #fff;
    font-size: 18px;
}

.spez-block--fr-fth {
    width: 54%;
}

.spez-block--sc-trh {
    width: 44%;
}


/* TEAM */
.about-us-main__ab-us-team {
    height: auto;
    width: 100%;
    margin-bottom: 5em;
}

.ab-us-team__ab-us-team-divs {
    display: flex;
    gap: 3em;
    justify-content: center;
}

.ab-us-team-divs__team-div {
    width: 15em;
    height: 18em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #18181850;
    overflow: hidden;
}

.ab-us-team-divs__team-div:hover {
    .team-div__figure img {
        scale: 1.05;
    }

    .team-div__team-emp-txt {
        color: #8a6be9;
    }
}

.team-div__figure {
    background-image: url('../../images/IMG_20241019_181851432.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 78%;
    overflow: hidden;
}

.team-div__team-emp-txt {
    height: 22%;
    text-align: center;
    position: relative;
    top: .7em;
    transition: color .2s;
}

.team-emp-txt__name-p {
    font-weight: 600;
    font-size: 17px;
}


/* CONTACT FORM */
#about-us-main__ab-us-contact-section {
    height: auto;
    width: 100%;
}

.ab-us-contact-section__ab-us-contact {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.ab-us-contact__contact-form {
    width: 50%;
    height: auto;
    display: flex;
    column-gap: 2%;
    row-gap: .7em;
    flex-wrap: wrap;
}

.con-form__label {
    font-weight: 500;
    line-height: 24px;
}

.ab-us-contact__contact-form input {
    width: 100%;
    height: 100%;
    padding: .5em;
    border: 1px solid #181818;
    border-radius: 10px;
    height: 3em;
    transition: border 0.2s ;
}

.ab-us-contact__contact-form input:focus {
    outline: none;
    border: 1px solid #8a6be9;
}

.contact-form__con-form-fr-name {
    width: 49%;
}

.contact-form__con-form-lst-name {
    width: 49%;
}

.contact-form__con-form-number {
    width: 100%;
}

.contact-form__con-form-email {
    width: 100%;
}

.contact-form__con-form-message {
    width: 100%;
    height: 7em;
    margin-bottom: 1.6em;
}

.con-form-message__input {
    width: 100%;
    height: 100%;
    padding: .5em;
    border: 1px solid #181818;
    border-radius: 10px;
}

.con-form-message__input:focus {
    outline: none;
    border: 1px solid #8a6be9;
}

.contact-form__con-form-btn {
    width: 100%;
    height: 3em;
    padding: .5em;
    background-color: #8a6be9;
    border-radius: 10px;
    border: 2px solid #8a6be9;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: all .2s;
}

.contact-form__con-form-btn:hover {
    background-color: #fff;
    color: #8a6be9;
}

.ab-us-contact__contact-socials {
    width: 35%;
    height: auto;
}

.contact-socials__socials {
    margin-bottom: 2em;
}

.socials__h3 {
    margin-bottom: .7em;
}

.socials-icons {
    display: flex;
    gap: .7em;
    align-items: center;
}

.socials-icons__p:hover {
    color: #8a6be9;
    cursor: pointer;
}

.socials-icons__figure {
    width: 1.5em;
    height: 1.5em;
}

.socials-icons__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials__socials-icons {
    line-height: 40px;
}

.contact-socials__call-us {
    margin-bottom: 2em;
}

.contact-socials__visit-us {
    margin-bottom: 2em;
}


/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    .about-us__about-us-heading {
        height: 40vh;
        margin-bottom: 2em;
    }

    .ab-us-head-content__h2 {
        font-size: 24px;
    }

    .about-us__about-us-main {
        width: 95%;
        margin: 0 auto;
    }

    .about-us-main__ab-us-main-content {
        flex-direction: column;   
        margin: 0 auto 3em auto;
    }

    .ab-us-main-content__ab-us-right {
        width: 100%;
    }

    .ab-us-main-content__ab-us-left {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 2.5em;
    }

    .ab-us-left__h2 {
        text-align: center;
        margin-bottom: .4em;
        font-size: 38px;
    }

    .ab-us-left__contact-btn {
        margin: 0 auto;
    }

    .about-us-main__ab-us-spez {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .ab-us-spez__ab-us-spez-left,
    .ab-us-spez__ab-us-spez-right {
        width: 100%;
    }

    .ab-us-spez-right__spez-right-blocks {
        height: 16em;
    }

    .ab-us-main-txt__h3 {
        font-size: 22px;
    }


    /* TEAM */
    .about-us-main__ab-us-team {
        margin-bottom: 3em;
        flex-direction: column;
    }

    .ab-us-team__ab-us-team-divs {
        gap: 2em;
    }
    

    .ab-us-team-divs__team-div {
        min-width: 30%;
        max-width: 44%;
    }
    
    .ab-us-team__ab-us-team-divs {
        flex-wrap: wrap;   
    }
    
    /* CONTACT FORM */
    .ab-us-contact-section__ab-us-contact {
        flex-direction: column;
    }
    
    .ab-us-contact__contact-form {
        width: 100%;
        margin-bottom: 2em;
    }
    
    .ab-us-contact__contact-socials {
        width: 100%;
    }
    
    .contact-socials__socials {
        margin-bottom: 1.3em;
    }
    
    .contact-socials__call-us {
        margin-bottom: 1.3em;
    }
    
    .contact-socials__visit-us {
        margin-bottom: 0em;
    }
}

@media screen and (max-width: 440px) {
    .ab-us-team-divs__team-div {
        height: 14em;
    }

    .team-div__team-emp-txt {
        font-size: 15px;
        top: .4em;
    }
    
    .team-emp-txt__name-p {
        font-size: 16px;
    }

    .ab-us-team__ab-us-team-divs {
        gap: 1.5em;
    }

    .spez-block__p {
        font-size: 17px;
    }
}