

.blog {
    width: 90%;
    height: auto;
    position: relative;
    top: 10em;
    margin: 0 auto;
    max-width: 1600px;
}


/* BLOG PAGE CONTENT */
.blog__top-blog-page {
    line-height: 2;
    margin-bottom: 3em;
}

.top-blog-page__p-box {
    background-color: #EBE8FC;
    color: #8a6be9;
    font-weight: 500;
    width: fit-content;
    padding: .2em .8em;
    border-radius: 20px;
}

.top-blog-page__h1 {
    font-size: 28px;
}

.top-blog-page__p {

}


/* MAIN BLOG */
.blog__main-blog {
    width: 100%;
    height: 35em;
    margin-bottom: 3em;
}

.main-blog__main-blog-div {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('../../images/skincare-ingredients.jpg');
    background-size: cover;
}

.main-blog-div__about-main-blog {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 32%;
    color: #fff;
    padding: 1.2em 1.5em;
    border-radius: 0px 0px 10px 10px;
    background: #18181889;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.about-main-blog__h2 {
    margin-bottom: 1em;
}

.about-main-blog__p {
    margin-bottom: 1.5em;
}

.about-main-blog__amb-user-date {
    display: flex;
    gap: 0em 2em;
    width: fit-content;
}

.amb-user-date {
    display: flex;
    align-items: center;
}

.amb-user-date__figure {
    width: 2.5em;
    margin-right: .7em;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: #8a6be9;
}

.amb-user-date__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.about-main-blog__arrow-figure {
    position: absolute;
    top: .8em;
    right: .8em;
    width: 3em;
}

.about-main-blog__arrow-figure img {
    width: 100%;
}

.blog-hr {
    width: 95%;
    margin: 0 auto;
    height: 2px;
    background-color: #8a6be9;
    margin-bottom: 3em;
}


/* ALL BLOGS */
.blog__all-blogs {
    width: 100%;
    height: auto;
    margin-bottom: 13em;
}

.all-blogs__all-blogs-content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em 3em;
}

.all-blogs-content__all-blogs-div {
    height: auto;
    flex: 0 0 calc(100% / 4);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: #181818;
    box-shadow: 0px 5px 10px -2px #1818180c;
    cursor: pointer;
}

.all-blogs-div__figure {
    width: 100%;
    height: 48%;
    margin-bottom: .7em;
    overflow: hidden;
    border-radius: 10px;
}

.all-blogs-div__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .3s;
}

.all-blogs-content__all-blogs-div:hover {
    .all-blogs-div__figure img {
        transform: scale(1.1);
    }
}

.all-blogs-div__about-p {
    margin-bottom: .5em;
    color: #8a6be9;
    font-weight: 500;
}

.all-blogs-div__blog-text {
    margin-bottom: .7em;

}

.blog-text__h3 {
    margin-bottom: .5em;
}

.blog-text__p {
    line-height: 20px;
    font-weight: lighter;
}

.all-blogs-div__blog-user-ttr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

.blog-user-ttr__blog-user {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.blog-user-ttr__blog-ttr {
    color: #9c9c9c;
}