

.subscriptions {
    height: auto;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    top: 6.5em;
}


/* SUBSCRIPTIONS HEADING */
.subscriptions__sub-heading {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.sub-heading__sub-heading-text {
    text-align: center;
    margin-top: 5em;
}

.sub-heading-text__h1 {
    font-size: 35px;
}

.sub-heading-text__h1 span {
    color: #8a6be9;
}


/* SUBSCRIPTIONS TABLE */
.subscriptions__mobile-sub-div {
    display: none;
}

.subscriptions__sub-div-table {
    width: 90%;
    margin: 5em auto 10em auto;
    border: 1px solid #dededf;
    padding: 1em;
    border-radius: 10px;
}

.sub-div-table__sub-table { 
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.th {
    text-align: center;
    position: relative;
}

.th::after {
    content: "";
    display: block;
    position: absolute;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #c5c5c5;
}

.th:first-child:after {
    display: none;
}

.th--fr-col {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 1px;
}

.th--fr-col h2 {
    font-size: 38px;
}

.th--fr-col p {
    font-size: 20px;
}

.th__plan-name {
    font-size: 19px;
    margin-bottom: .5em;
}

.th__plan-price {
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

.th__plan-price span {
    font-size: 17px;
}

.th__plan-for {
    font-size: 15px;
    margin-bottom: 1em;
    color: #9c9c9c;
}

.th__plan-btn {
    background-color: #8a6be9;
    color: #fff;
    border: 2px solid #8a6be9;
    font-size: 16px;
    padding: .4em .8em;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: all .3s;
}

.th__plan-btn:hover {
    background-color: #fff;
    color: #8a6be9;
}

.td {
    padding: .6em;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.td::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 9px;
    width: 1px;
    height: 20px;
    background-color: #c5c5c5;
}

.td:first-child {
    border-radius: 10px 0px 0px 10px;   
}

.td:last-child {
    border-radius: 0px 10px 10px 0px;   
}

.td:last-child::after {
    display: none;
}

tr:nth-child(even) {
    background-color: #dbd5fa;
}

.td-fr-col {
    text-align: left;
    
}



/*MEDIA QUERY*/
@media screen and (max-width: 768px) {
    .sub-heading__sub-heading-text {
        margin-top: 3em;
    }

    .sub-heading-text__h1 {
        font-size: 24px;
    }

    .subscriptions__sub-div-table {
        display: none;
    }

    .subscriptions__mobile-sub-div {
        width: 100%;
        height: auto;
        margin: 3.5em auto 10em auto;
        display: block;
    }

    .mobile-sub-div__mb-sub-card {
        width: 50%;
        height: auto;
        border-radius: 10px;
        border: 2px solid #8a6be9;
        text-align: center;
        margin: 0 auto;
        padding: 1.5em 1em 1.7em 1em;
        margin-bottom: 2em;
    }

    .mb-sub-card__popular {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 1em;
        background-color: #8a6be9;
        color: #fff;
        padding: .3em 1em;
        border-radius: 6px;
        font-weight: 600;
    }

    .mb-sub-card__h3 {
        font-size: 20px;
        margin-bottom: .3em;
    }

    .mb-sub-card__p {
        margin-bottom: 1em;
    }

    .mb-sub-card__price {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: .5em;
    }

    .mb-sub-card__hr {
        border: none;
        height: 1px;
        background-color: #646464;
        margin-bottom: .7em;
    }

    .mb-sub-card__p-include {
        text-align: left;
        position: relative;
        font-weight: 600;
        left: .3em;
        margin-bottom: .7em;
    }

    .mb-sub-card__sub-card-ul {
        position: relative;
        text-align: left;
        margin-bottom: 1.2em;
        list-style: none;
    }

    .sub-card-ul__li {
        margin-bottom: .7em;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: .5em;
    }

    .mb-sub-card__btn {
        font-size: 18px;
        width: 100%;
        padding: .8em 0;
        border: 2px solid #8a6be9;
        background-color: #fff;
        color: #8a6be9;
        font-weight: 600;
        border-radius: 6px;
        margin-bottom: 1.2em;
        transition: all .3s;
    }

    .mb-sub-card__btn--active {
        background-color: #8a6be9;
        color: #fff;
    }

    .mb-sub-card__btn:hover {
        background-color: #8a6be9;
        color: #fff;
    }

    .mb-sub-card__btn--active:hover {
        background-color: #fff;
        color: #8a6be9;
    }

    .mb-sub-card__a {
        text-decoration: underline;
    }

    .mb-sub-card__a:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: 648px) {
    .mobile-sub-div__mb-sub-card {
        width: 70%;
    }
}

@media screen and (max-width: 457px) {
    .mobile-sub-div__mb-sub-card {
        width: 90%;
    }
}