

.products-page {
    width: 90%;
    height: auto;
    position: relative;
    top: 6.5em;
    margin: 0 auto;
    max-width: 1600px;
}

.products-page__products-page-banner {
    display: flex;
    gap: 5% 2%;
    flex-wrap: wrap;
    height: 30em;
    margin-bottom: 3em;
}


.products-page-banner__products-page-banner-frdiv {
    width: 49%;
    height: 55%;
    display: flex;
    align-items: center;
}

.products-page-banner-frdiv__h1 {
    font-size: 50px;
}

.products-page-banner-frdiv__text-change {
    transition: opacity .5s ease-out;
}

.products-page-banner-frdiv__text-change.entering {
    opacity: 1;
}

.products-page-banner-frdiv__text-change.exiting {
    opacity: 0;
}


.products-page-banner__products-page-banner-scdiv {
    width: 49%;
    height: 55%;
}

.pb-scdiv-img__overlay {
  width: 100%;
  height: 100%;
  background-color: #0000003f;
  z-index: 2;
  border-radius: 10px;
}

.products-page-banner-scdiv__pb-scdiv-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('../../images/Products-page-banner.jpg');
    color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.pb-scdiv-img-div__pb-scdiv-img-text {
    position: relative;
    top: 80.5%;
    left: 1em;
}


.products-page-banner__pb-div {
  border-radius: 10px;
  height: 40%;
  padding: 1em;
  display: flex;
  position: relative;
}

.pb-div--trdiv {
  width: 23%;
  background-color: #CAE299;
}

.pb-div-text__h3 {
  font-size: 22px;
}

.pb-div-text__pb-view-prod-div {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}

.pb-view-prod-div__figure {
  width: 3.2em;
  height: 3.2em;
  padding: .2em;
  background-color: #ffffffaf;
  border-radius: 50%;
  margin-right: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pb-view-prod-div__figure img {
  width: 80%;
}


.pb-div--frthdiv {
  border-radius: 10px;
  width: 20%;
  height: 40%;
  background-color: #EBC89D;
  padding: 1em;
  display: flex;
  position: relative;
}

.pb-div-text__h3--frthdiv {
  position: absolute;
  bottom: 0;
  padding-bottom: .8em;
  font-size: 22px;
}

.pb-view-prod-div--frthdiv {
  position: relative;
  display: flex;
  align-items: center;
}

.pb-view-prod-div--frthdiv .pb-view-prod-div__figure {
  width: 4.2em;
  padding: .2em;
  background-color: #ffffffaf;
  border-radius: 50%;
  margin-right: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pb-view-prod-div__figure--frthdiv img {
  width: 80%;
}

.pb-view-prod-div--frthdiv .pb-view-prod-div__p {
  
}


.pb-div--fithdiv {
  border-radius: 10px;
  width: 24%;
  height: 40%;
  background-color: #dbd5fa;
  padding: 1em;
  display: flex;
  position: relative;
}


.pb-div--sixdiv {
  border-radius: 10px;
  padding: 1em;
  width: 27%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
}

.pb-div--sixdiv__fr-p {
  font-size: 48px;
}

.pb-div--sixdiv__sc-p {
  font-size: 25px;
}


.products-page__hr {
  width: 95%;
  margin: 0 auto;
  border: none;
  height: 1px;
  background-color: #8a6be9;
  margin-bottom: 3em;
}


/*  */ 
.products-page__grid {
    display: grid;
    grid-template-columns: 24% 73%;
    gap: 3%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 9.5em;
  }
  
  
  /* RECIPES FILTER */
  .products-page__filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0px 3px 10px 1px #18181850;
    padding: 1em;
  }
  
  .products-page__categories-div {
    width: 100%;
  }
  
  .products-page-col-h2 {
    font-size: 22px;
    margin-bottom: .5em;
    border-bottom: 2px dashed #e9e9e9;
  }
  
  .products-page__pp-all-categories {
    position: relative;
    bottom: .8em;
  }
  
  .category-div {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 1em;
    
  }
  
  .category-div + .category-div::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e9e9e9;
  }
  
  .category__order-setting {
    display: flex;
    align-items: center;
    height: 2.8em;
  }
  
  .category-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    left: .3em;
    height: 17px;
    width: 17px;
    border: 1px solid #8a6be9;
    border-radius: 4px;
    transition: all .2s;
  }
  
  /* On mouse-over, add a grey background color */
  .category-div:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .category-div input:checked ~ .checkmark {
    background-color: #8a6be9;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .category-div input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .category-div .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .category__label {
    position: relative;
    left: .7em;
    width: 11em;
    font-weight: 500;
    transition: all .2s ease-out;
  }


/* ALL PRODUCTS SECTION */
.products-page__all-products-section {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  row-gap: 1.5em;
  column-gap: 3%;
  flex-wrap: wrap;
}

.all-products-section__aps-product-div {
  flex: 0 0 calc(94% / 3);
}