

.products-page {
    width: 90%;
    height: auto;
    position: relative;
    top: 6.5em;
    margin: 0 auto;
    max-width: 1600px;
}

.products-page__products-page-banner {
  display: flex;
  gap: 5% 2%;
  flex-wrap: wrap;
  height: 30em;
  margin-bottom: 3em;
}


.products-page-banner__products-page-banner-frdiv {
    width: 49%;
    height: 55%;
    display: flex;
    align-items: center;
}

.products-page-banner-frdiv__h1 {
    font-size: 50px;
}

.products-page-banner-frdiv__text-change {
    transition: opacity .5s ease-out;
}

.products-page-banner-frdiv__text-change.entering {
    opacity: 1;
}

.products-page-banner-frdiv__text-change.exiting {
    opacity: 0;
}


.products-page-banner__products-page-banner-scdiv {
    width: 49%;
    height: 55%;
}

.pb-scdiv-img__overlay {
  width: 100%;
  height: 100%;
  background-color: #0000003f;
  z-index: 2;
  border-radius: 10px;
}

.products-page-banner-scdiv__pb-scdiv-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('../../images/Products-page-banner.jpg');
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.pb-scdiv-img-div__pb-scdiv-img-text {
    position: relative;
    top: 80.5%;
    left: 1em;
}


.products-page-banner__pb-div {
  border-radius: 10px;
  height: 40%;
  padding: 1em;
  display: flex;
  position: relative;
}

.pb-div--trdiv {
  width: 23%;
  background-color: #CAE299;
}

.pb-div-text__h3 {
  font-size: 22px;
}

.pb-div-text__pb-view-prod-div {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}

.pb-view-prod-div__figure {
  width: 3.2em;
  height: 3.2em;
  padding: .2em;
  background-color: #ffffffaf;
  border-radius: 10px;
  margin-right: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pb-view-prod-div__figure img {
  width: 80%;
}

.pb-view-prod-div__p {
  
}


.pb-div--frthdiv {
  border-radius: 10px;
  width: 20%;
  height: 40%;
  background-color: #EBC89D;
  padding: 1em;
}

.pb-div-text__h3--frthdiv {
  position: absolute;
  bottom: 0;
  padding-bottom: .8em;
  font-size: 22px;
}

.pb-view-prod-div--frthdiv {
  position: relative;
}

.pb-view-prod-div--frthdiv .pb-view-prod-div__figure {
  width: 3.2em;
  height: 3.2em;
  padding: .2em;
  background-color: #ffffffaf;
  border-radius: 10px;
  margin-right: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pb-view-prod-div__figure--frthdiv img {
  width: 80%;
}


.pb-div--fithdiv {
  border-radius: 10px;
  width: 24%;
  height: 40%;
  background-color: #dbd5fa;
  padding: 1em;
  display: flex;
  position: relative;
}


.pb-div--sixdiv {
  border-radius: 10px;
  padding: 1em;
  width: 27%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
}

.pb-div--sixdiv__fr-p {
  font-size: 48px;
}

.pb-div--sixdiv__sc-p {
  font-size: 25px;
}


.products-page__hr {
  width: 95%;
  margin: 0 auto;
  border: none;
  height: 1px;
  background-color: #8a6be9;
  margin-bottom: 3em;
}


/*  */
.products-page__pp-filter-products {

}


.pp-filter-products__pp-filter-section {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 3em;
  width: 90%;
}

.pp-filter-products__pp-mobile-filter {
  display: none;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  padding: .5em 1em;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #181818;
}

.pp-mobile-filter__figure {
  width: 1.4em;
  height: 1.4em;
  margin-right: .2em;
}

.pp-mobile-filter__figure img {
  width: 100%;
  height: 100%;
}

.pp-filter-section__pp-filter-label {

}

.pp-filter-label__pp-filter-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1em 2em;
  background-color: #dbdbdb7e;
  border-radius: 10px;
  transition: all .3s;
}

.pp-filter-div__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.pp-filter-label__pp-filter-div-true {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1em 2em;
  color: #fff;
  background-color: #8a6be9;
  border-radius: 10px;
  transition: all .3s;
}

.pp-filter-div__p {
  font-weight: 500;
}


/* ALL PRODUCTS SECTION */
.pp-filter-products__all-products-section {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  row-gap: 2em;
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3em;
}


/* MOBILE FILTER SECTION */
body.no-scroll {
  overflow: hidden;
}
.product-page__pp-mobile-filter-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000003f;
  z-index: 1001;
  overflow: hidden;
}

.product-page__pp-mobile-filter-popup--hidden {
  display: none;
}

.pp-mobile-filter-popup__mobile-filter-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 2em 1.2em;
}

.mobile-filter-section__form {
  height: 100%;
}

.mobile-filter-section__mobile-filter-header {
  display: flex;
  justify-content: space-around;
  height: 8%;
}

.mobile-filter-header__h2 {
  text-align: center;
}

.mobile-filter-header__mobile-close {
  position: relative;
  bottom: 2px;
}

.mobile-close__figure{
  width: 2.2em;
  height: 2.2em;
}

.mobile-close__figure img {
  width: 100%;
  height: 100%;
}

.mobile-filter-main__mobile-filter-label {
  display: flex;
  gap: 10%;
  margin-bottom: 1em;
}

.mobile-filter-label__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 17px;
  width: 17px;
  border: 1px solid #8a6be9;
  border-radius: 4px;
  transition: all .2s;
}

.mobile-filter-label__input:checked ~ .checkmark {
  background-color: #8a6be9;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.mobile-filter-label__input:checked ~ .checkmark:after {
  display: block;
}


.mobile-filter-main__mobile-filter-label .checkmark:after {
  left: 4.5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-filter-label__p {
  font-weight: 500;
  font-size: 17px;
}

.mobile-filter-section__mobile-filter-footer {
  width: 100%;
  height: 3.5em;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2em;
  display: flex;  
}

.mobile-filter-footer__btn {
  width: 100%;
  height: 100%;
  background-color: #8a6be9;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8a6be9;
  transition: all .3s;
}

.mobile-filter-footer__btn:hover {
  background-color: #fff;
  color: #8a6be9;
}



/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
  .products-page {
    width: 93%;
  }

  .products-page__products-page-banner {
    height: 29em;
  }
}

@media screen and (max-width: 768px) {
  .products-page__products-page-banner {
    margin-bottom: 2em;
  }

  .products-page-banner__products-page-banner-frdiv {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
  }

  .products-page-banner__products-page-banner-scdiv {
    display: none;
  }

  .pb-div--trdiv {
    width: 33%;
  }

  .pb-div--frthdiv {
    width: 30%;
  }

  .pb-div--fithdiv {
    width: 33%;
  }

  .pb-div--sixdiv {
    display: none;
  }

  .products-page__hr {
    margin-bottom: 2em;
  }

  .pp-filter-products__pp-filter-section {
    margin-bottom: 2em;
  }

  .pp-filter-section__pp-filter-label {
    display: none;
  }

  .pp-filter-products__pp-mobile-filter {
    display: flex;
  }
}